<!DOCTYPE html>
<html lang="fr" {% if app.session.get('theme') is defined %} data-theme="{{app.session.get('theme')}}" {% endif %}>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<li>
						<strong>Admin</strong>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{{path('post_new')}}" role="button">Créer un article</a>
					</li>
					<li>
						<a class="secondary" href="{{path('change_theme')}}" id="theme-button" role="button">Changer de thème</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="container"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
